---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
---
<Layout title="Maqueta Landing Page">

	<Header />
	<main>
		<section class="section py-24 px-10 bg-gray-200">
			<div class="container max-w-5xl" style="margin:0 auto;">
				<h1 class="text-center text-5xl my-5 font-bold">Bienvenidos a Allumel</h1>
				<p class="text-lg font-medium text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sit ea sunt, quis assumenda recusandae aperiam nostrum quo voluptas delectus temporibus est repellendus culpa quasi neque itaque dicta ad maiores.</p>
				<div class="flex sm:flex-row flex-col text-center py-5 gap-10 justify-center">
					<a href="" class="no-underline text-lg font-bold bg-[#ff6600] text-white p-2 rounded-md flex gap-4">
						<img src="/img/ico-telefono.svg" alt="LOGO ALUMELL" width="24" height="24"> 
						Llamar a telefono
					</a>
					<a href="" class="no-underline text-lg font-bold bg-[#ff6600] text-white p-2 rounded-md flex gap-4">
						<img src="/img/ico-whatsapp.svg" alt="LOGO ALUMELL" width="24" height="24"> 
						Whatsapp
					</a>
				</div>
			</div>
		</section>
		<section id="servicios" class="section p-10">
			<div class="container" style="margin:0 auto">
				<h2 class="text-center text-4xl my-5 font-bold">Servicios</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-5" id="#productos">
					<Card img="headset-outline" title='Servicio 1' body='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sit ea sunt, quis assumenda recusandae aperiam nostrum quo voluptas.'></Card>
					<Card img="flash-outline" title='Servicio 2' body='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sit ea sunt, quis assumenda recusandae aperiam nostrum quo voluptas.'></Card>
					<Card img="star-outline" title='Servicio 3' body='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sit ea sunt, quis assumenda recusandae aperiam nostrum quo voluptas.'></Card>
					<Card img="stats-chart-outline" title='Servicio 4' body='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sit ea sunt, quis assumenda recusandae aperiam nostrum quo voluptas.'></Card>
				</div>
			</div>
		</section>
		<section id="nosotros" class="section p-10 bg-gray-200">
			<div class="container" style="margin:0 auto">
				<div class="grid md:grid-cols-2 grid-cols-1 gap-10">
					<div class="flex flex-col md:text-left text-center">
						<h2 class="text-4xl mb-5 font-bold">Acerca de Nosotros</h2>
						<p class="text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta fugiat, sapiente illum aliquid quasi eaque culpa. Blanditiis fugit labore nemo iusto deserunt, tenetur eaque alias, soluta neque, odio adipisci voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatem! Facere hic suscipit porro non inventore recusandae odio totam, quia cum voluptatem nesciunt iusto, nostrum nobis, accusantium ut deleniti fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio qui quos, ab aliquam omnis quisquam illum aut enim iste necessitatibus, excepturi tenetur id, voluptates quam blanditiis praesentium. Dolores, iusto deleniti.</p>
					</div>
					<div>
						<img src="/img/imagen-nosotros.webp" alt="Nuestra empresa"> 
					</div>
				</div>
			</div>
		</section>
		<section id="contacto" class="section p-10">
			<div class="container" style="margin:0 auto">
				<div class="my-5">
					<h2 class="text-center text-4xl mb-5 font-bold">Contacto</h2>
					<p class="text-center text-lg">Si usted desea que le cotizemos nuestro servicio, rellene el siguiente formulario y nosotros  nos contactaremos con usted a la brevedad</p>
				</div>
				<div class="grid md:grid-cols-2 grid-cols-1 gap-10">
					<div class="bg-[#252525] flex flex-col md:text-left text-center px-10 py-5 rounded-lg">
						<div class="container">
							<h3 class="text-2xl font-bold text-center text-white">Puedes contactarnos por los siguientes medios:</h3>
							<div class="my-5">
								<h4 class="text-lg font-bold text-white">Dirección</h4>
								<p class="text-white text-md">Salta, Argertina</p>
							</div>
							<div class="my-5">
								<h4 class="text-lg font-bold text-white">E-mail</h4>
								<p class="text-white text-md">info@alumell.com</p>
								<p class="text-white text-md">atencion@alumell.com</p>
							</div>
							<div class="my-5">
								<h4 class="text-lg font-bold text-white">Teléfono</h4>
								<p class="text-white text-md">+541234567</p>
								<p class="text-white text-md">+547654321</p>
							</div>
						</div>
					</div>
					<div>
						<div class="bg-white shadow-xl p-5">
							<h3 class="mb-5 text-2xl font-bold text-center">Contacta con nuestro equipo</h3>
							<form action="" class="flex flex-col gap-5">
								<input class="border-2 rounded p-2 bg-[#fefefe]" type="text" name="name" id="name" placeholder="Nombre">
								<input class="border-2 rounded p-2 bg-[#fefefe]" type="email" name="email" id="email" placeholder="E-mail">
								<textarea class="border-2 rounded p-2 bg-[#fefefe]" name="message" id="message" placeholder="Mensaje"></textarea>
								<buttom type="submit" value="" placeholder="Enviar" class="text- bg-[#ff6600] text-white rounded p-2">Enviar</buttom>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
