<footer class="bg-white text-gray-800 py-6 mt-10 shadow-md border-t-2">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h2 class="text-xl font-bold mb-3"><a href="/"><img src="/img/logo-alumell.svg" alt="LOGO ALUMELL" width="178" height="35"></a></h2>
                <p class="text-sm">Calle Ficticia 123, Ciudad, País</p>
                <p class="text-sm">Teléfono: +54 123 456 7890</p>
                <p class="text-sm">Email: info@alumell.com</p>
            </div>
            <div class="mb-4 md:mb-0">
                <h3 class="text-lg font-semibold">Síguenos</h3>
                <ul class="flex space-x-4">
                    <li>
                    <a href="https://www.facebook.com/alumell" target="_blank" rel="noopener noreferrer" class="hover:text-orange-500">
                        <ion-icon name="logo-facebook" class="text-2xl"></ion-icon>
                    </a>
                    </li>
                    <li>
                    <a href="https://www.twitter.com/alumell" target="_blank" rel="noopener noreferrer" class="hover:text-orange-500">
                        <ion-icon name="logo-twitter" class="text-2xl"></ion-icon>
                    </a>
                    </li>
                    <li>
                    <a href="https://www.instagram.com/alumell" target="_blank" rel="noopener noreferrer" class="hover:text-orange-500">
                        <ion-icon name="logo-instagram" class="text-2xl"></ion-icon>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-6 border-t border-gray-300 pt-4 text-center">
            <p class="text-sm">&copy; 2024 Alumell. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>